.container {
    padding-top: 5vh;
    text-align: center;
    font-size: 2em;
    padding-left: 0;
}

.red-line {
    margin-top: -25px;
    width: 50%;
    height: 10%;
    text-align: center;
    background-color: red;
}